<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button [routerLink]="'home'"> <h1>CRAS</h1></a>
    <span class="flex-space-between">
      <!-- Not logged in -->
      <ng-container *ngIf="!(authService.isLoggedIn$ | async)">
        <div></div>
        <div>
          <a mat-raised-button [routerLink]="'login'" color="primary">
            Login
          </a>
          <a mat-stroked-button [routerLink]="'register'" color="primary">
            Register
          </a>
        </div>
      </ng-container>
      <!-- Logged in -->
      <ng-container *ngIf="authService.isLoggedIn$ | async">
        <div *ngIf="authService.isAdmin$ | async">
          <a mat-button [routerLink]="'/admin/home'"> Home </a>
          <a mat-button [routerLink]="'/admin/college'"> College </a>
          <a mat-button [routerLink]="'/admin/application'"> Application </a>
        </div>
        <div *ngIf="!(authService.isAdmin$ | async)">
          <a mat-button [routerLink]="'/student/home'"> Home </a>
        </div>

        <div class="profile-btn">
          <button mat-button [matMenuTriggerFor]="menu">
            <img
              [src]="
                (authService.user$ | async)?.imagePath ||
                'http://localhost:3000/default.png'
              "
              alt="profile image"
              class="profile-img"
            />
            {{ (authService.user$ | async)?.username }}
            <mat-icon>arrow_drop_down</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button
              *ngIf="!(authService.isAdmin$ | async)"
              mat-menu-item
              routerLink="/profile"
            >
              <mat-icon>account_circle</mat-icon>
              <span> My Profile</span>
            </button>
            <span class="logout-btn-container">
              <button mat-raised-button (click)="logOut()" color="warn">
                Log Out
              </button>
            </span>
          </mat-menu>
        </div>
      </ng-container>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
