.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-btn {
  width: 300px;
}

button {
  margin: 0.5rem;
}

.btns-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
