<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Old Password</mat-label>
    <input
      matInput
      placeholder="********"
      type="password"
      [(ngModel)]="oldPassword"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>New Password</mat-label>
    <input
      matInput
      placeholder="*******"
      type="password"
      [(ngModel)]="newPassword"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      placeholder="********"
      type="password"
      [(ngModel)]="confirmPassword"
    />
  </mat-form-field>
  <span style="color: red" *ngIf="isPasswordNotMatch">
    Password not match
  </span>
  <span class="btns-container">
    <button mat-raised-button color="warn" (click)="onDismiss()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!isFormCompeted"
      (click)="onUpdatePassword()"
    >
      Update Password
    </button>
  </span>
</div>
